@model TableModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>title</title>
</head>
<body>

<div class="text-center">
    
    <p>@Database.Instance.Name</p>

    @foreach (Table table in Database.Instance.Tables.Values)
    {
        <div>
            <p>@table.Name</p>
            <input type="button" value="Edit" onclick="location.href='@Url.Action("TableEditing", "Database", new { tableToEdit = @table.Name })'" />
            
            @if (Role.Value == RoleType.Admin)
            {
                <input type="button" value="Delete" onclick="location.href='@Url.Action("TableDeleting", "Database", new {tableToDelete = @table.Name})'"/>
            }
        </div>
    }
    
    @if (Role.Value == RoleType.Admin)
    {
        @using (Html.BeginForm("CreateTable", "Database", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
            <button type="submit">Create table</button>
        }
    }
    
    <p></p>
    <input type="button" value="Save database" onclick="location.href='@Url.Action("SaveDatabase", "Database")'" />
    <input type="button" value="Return" onclick="location.href='@Url.Action("ReturnToHome", "Database")'" />
</div>

</body>
</html>