@model TableModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>title</title>
</head>
<body>

<div class="text-center">
    
    <p>@Database.Instance.Name</p>

    @foreach (Table table in Database.Instance.Tables.Values)
    {
        <div>
            <p>@table.Name</p>
            <input type="button" value="Edit" onclick="location.href='@Url.Action("TableEditing", "Database", new { tableToEdit = @table.Name })'" />
            <input type="button" value="Delete" onclick="location.href='@Url.Action("TableDeleting", "Database", new { tableToDelete = @table.Name })'" />
        </div>
    }
    
    @using (Html.BeginForm("CreateTable", "Database", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
        <button type="submit">Create table</button>
    }
</div>

</body>
</html>